@model List<ResultAboutDto>
@*
    Home About Component
*@
@foreach (var item in Model)
{
    <div class="container-xxl py-5" id="hakkimizda">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="/arkitektur-1.0.0/img/about-1.jpg" alt="">
                        <img class="img-fluid" src="@item.ImageUrl" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h4 class="section-title">Hakkımızda</h4>
                    <h1 class="display-5 mb-4">@item.Title</h1>
                    <p>@item.Description</p>
                   
                    <div class="d-flex align-items-center mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                            <h1 class="display-1 mb-n2" data-toggle="counter-up">@(DateTime.Now.Year-item.StartYear)</h1>
                        </div>
                        <div class="ps-4">
                            <h3>Yıllık</h3>
                            <h3>Çalışma</h3>
                            <h3 class="mb-0">Tecrübesi</h3>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" href="">Devamını Oku</a>
                </div>
            </div>
        </div>
    </div>
}