
@*
   AdminLayoutSidebar
*@
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">


                <li class="nav-item">
                    <a href="/Admin/About">
                        <i class="fa fa-building"></i>
                        <p>Hakkımızda</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Category">
                        <i class="fa fa-list"></i>
                        <p>Kategoriler</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Project">
                        <i class="fa fa-image"></i>
                        <p>Projeler</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Banner">
                        <i class="fa fa-image"></i>
                        <p>Banner</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Appointment">
                        <i class="fa fa-calendar"></i>
                        <p>Randevular</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Choose">
                        <i class="fa fa-question"></i>
                        <p>Neden Biz Alanı</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Contact">
                        <i class="fa fa-phone"></i>
                        <p>İletişim Bilgisi</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature">
                        <i class="fa fa-file"></i>
                        <p>Hizmetler</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/User">
                        <i class="fa fa-users"></i>
                        <p>Kullanıcılar</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Team">
                        <i class="fa fa-user"></i>
                        <p>Ekip Üyeleri</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/TeamSocial">
                        <i class="fab fa-linkedin"></i>
                        <p>Ekip Sosyal Medyaları</p>
                        @*<span class="badge badge-success">4</span>*@
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>